.flex {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: gray;
    max-height: 100vh;
    max-width: 100%;
    position: relative;
    overflow: hidden; 
}

span {
    height: 2px;
    width: 2px;
    color: red;
    border-radius: 1px;
}

i {
    font-size: 5rem;
    color: purple;
}

i:hover {
    cursor: crosshair;
    opacity: 0.5;
}

.a {
    display: none;
}

#scoreboard {
    text-align: right;
}

#scoreboard:before {
    content: 'SCORE : ';
}

.sky-gradient-10 {
    background: #00b4ff;
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }

    100% {
        margin-left: 100%;
    }
}

.x1 {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
    z-index: 1000;
}

.cloud {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -webkit-gradient(linear,
            left top,
            left bottom,
            color-stop(5%, #fff),
            color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
    width: 350px;
}

.cloud:after,
.cloud:before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

.x2 {
    -webkit-animation: animateCloud 20s linear infinite;
    -moz-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

@keyframes moveclouds {
    0% {
        transform: translate(0px, 700px);
    }

    100% {
        transform: translate(0px, -1200px);
    }
}

.x3 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.BlittleUP {
    animation: moveclouds 16s linear forwards;
    -webkit-animation: moveclouds 16s linear forwards;
    -moz-animation: moveclouds 16s linear forwards;
    -o-animation: moveclouds 16s linear forwards;
}

.fa-gem {
    font-size: 3rem;
}

.txt-link {
    text-align: center;
    text-decoration: none;
    color: black;
}

.txt-link:hover {
    color: black;
}

.hide {
    display: none;
}


.time {
    font-family: 'Satisfy', cursive;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: #00b4ff;
    padding: 10px;
    box-shadow: black 1px -1px 20px 3px;
    transition: transform 0.5s;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.time:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    /* position: relative; */
}

.timer {
    display: inline;
}

.rule {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    justify-self: center;
    background-color: #00b4ff;
    padding: 10px;
    box-shadow: black 2px -5px 40px 1px;
    transition: transform 0.5s;
    border-radius: 10px;
    font-size: smaller;
}

.rule:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.mode {
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    padding: 5px;
}

@media only screen and (max-width: 480px) {
    .rule {
        bottom: 0px;
        right: 0px;
    }  
    .rule h4 {
        font-size: 15px;
    }
    .time {
    bottom: 0px;
    left: 0px;
    font-size: 20px;
    }
}
